<div class="container">
    <div class="row justify-content-center d-flex mt-5 pb-4">
        <div class="col-auto text-center">
            <h1 class="text-white f-1">AI-powered workouts</h1>
            <p style="color: #777E90;">Take your workouts to the next level. <br>Less thinking, more lifting.</p>
        </div>
    </div>
</div>

@code {
    
}