<div class="card" style="border-radius: 20px;height: 100%;background-color: #23262F;border: 1px solid #353945;">
    <div class="card-body text-center">
        <div>
            <div class="text-center py-0 mt-2 d-inline-block" style="border-radius: 5px;background-color: #45B26B;">
                <p class="text-white fw-bold py-1 px-2 m-0" style="font-size: 14px;">AI-POWERED</p>
            </div>
        </div><img class="mt-3 w-50" src="/img/avatar-3.png" style="background-color: #353945;border-radius: 50%;">
        <p class="text-white m-0 mt-4 p-0 fw-bold">@Name</p>
        <p class="p-0 m-0" style="color: #777E90;">Truly unique</p>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }
}