@page "/portal/overview"

<section class="py-5">
    <div class="container bg-dark">
        <h1 class="px-4 pt-5 pb-1 px-md-5">Dashboard</h1>
        <p class="px-4 pt-2 pb-1 px-md-5 text-success fw-bold">Your most critical infromation</p>
        <div class="py-5 p-lg-5" style="background-color: var(--bs-black);">
            <div class="row">
                <div class="col mb-4">
                    <div class="card shadow-sm" style="height: 100%;">
                        <div class="card-body px-4 py-5 px-md-5" style="height: 100%;">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-eyeglasses text-success">
                                <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"></path>
                            </svg></div>
                            <h5 class="fw-bold card-title">Overview</h5>
                            <p class="text-muted card-text mb-4">Welcome to the <span class="text-success">Zero Gravity</span> portal. Monitor your stats, 
                                create your workouts with the assistance of Deep Learning technologies. Let Computer Vision correct your
                                exercise execution form.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card shadow-sm" style="height: 100%;">
                        <div class="card-body px-4 py-5 px-md-5" style="height: 100%;">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-hourglass text-success">
                                <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2h-7z"></path>
                            </svg></div>
                            <h5 class="fw-bold card-title">Today's activity</h5>
                            <p class="text-muted card-text mb-4">You have to complete the following workouts for the day:</p>
                            <div class="bg-info-light" style="border-radius: 10px;">
                                <p class="p-3">Workout out 1</p>
                            </div>
                            <div class="bg-secondary-light" style="border-radius: 10px;">
                                <p class="p-3">Workout out 2</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card shadow-sm" style="height: 100%;">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bounding-box text-success" style="font-size: 32px;">
                                <path d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2H5zm6 1v2h2v6h-2v2H5v-2H3V5h2V3h6zm1-2h3v3h-3V1zm3 11v3h-3v-3h3zM4 15H1v-3h3v3zM1 4V1h3v3H1z"></path>
                            </svg></div>
                            <h5 class="fw-bold card-title">Adherence</h5>
                            <p class="text-muted card-text mb-4">Our deep learning model predicts that your adherence for the current week will be:</p>
                            <h3 class="text-center">98%</h3>
                            <div style="text-align: center;"><button class="btn btn-primary shadow text-center" type="button">Why?</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-dark mt-5">
        <h1 class="px-4 pt-5 pb-1 px-md-5">Progress</h1>
        <p class="px-4 pt-2 pb-1 px-md-5 text-success fw-bold">General statistics</p>
        <div class="py-5 p-lg-5" style="background-color: var(--bs-black);">
            <div class="row">
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <h5 class="fw-bold card-title" id="mb-3">Overview</h5>
                            <p class="text-muted card-text mb-4">Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"></div>
                            <h5 class="fw-bold card-title mb-3">Activity</h5>
                            <div><canvas data-bss-chart="{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;],&quot;fill&quot;:true}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;bold&quot;},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;ticks&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}}],&quot;yAxes&quot;:[{&quot;ticks&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}}]}}}"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    protected override void OnInitialized()
    {
        StateHasChanged();
    }
}