@page "/SignUp"
@using Microsoft.AspNetCore.Components
@using ZeroGravity.UI.Core.Providers
@using ZeroGravity.UI.Portal.Blazor.Pages.Profile.Contracts
@using ZeroGravity.UI.Portal.Blazor.Pages.Profile.Models
@using ZeroGravity.UI.Portal.Models

@inject TokenAuthenticationStateProvider StateProvider
@inject IAuthenticationApi AuthenticationApi
@inject IAuthorizationApi AuthorizationApi

<section class="py-5">
    
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Sign up</p>
                <h2 class="fw-bold">Join the trend</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <EditForm Model="@_model" OnValidSubmit="@HandleValidSubmitAsync">

                    <DataAnnotationsValidator/>
                    <ValidationSummary/>

                    <div class="mb-3"><InputText class="form-control" placeholder="Username" @bind-Value="_model.UserName"/></div>
                    <div class="mb-3"><InputText class="form-control" placeholder="Email" @bind-Value="_model.Email"/></div>
                    <div class="mb-3"><InputText class="form-control" placeholder="Password" type="password" @bind-Value="_model.Password"/></div>

                    <div class="mb-3"></div>
                    <div><button class="btn btn-primary shadow d-block w-100" type="submit">Send </button></div>

                </EditForm>
            </div>
        </div>
        
        
    <div class="col-md-8 mt-2 col-xl-6 text-center mx-auto">
        <a href="/signin">Already a member?</a>
        </div>
    </div>
</section>

@code {
    
    private SignUpModel _model = new();
    
    private async Task HandleValidSubmitAsync()
    {
        await AuthenticationApi.CreateUser(_model);
        var token = await AuthorizationApi.GetToken(new SignInModel {UserName = _model.UserName, Password = _model.Password});
        await StateProvider.SetAuthenticationStateAsync(token.Result);
    }
}