@using V9.UI.Portal.Services.Workout.Views
@using V9.UI.Portal.Blazor.Pages.Workout.Index.ViewModels
@using V9.UI.Portal.Services.Workout.Contracts
@using V9.UI.Portal.Services.Workout.Requests
@using V9.UI.Core.Providers
@using V9.UI.Core.Extensions

@inject IMapper Mapper
@inject ISetClient Client
@inject TokenAuthenticationStateProvider TokenProvider

<EditForm Model="_model" OnValidSubmit="OnValidSubmit" class="d-flex">
    <div class="col pb-3">
        <div class="d-flex mx-3">
            <div class="my-auto p-2"
                 style="border-radius: 7px; @(Active ? "background-color: #9757D7;" : "background-color: #45B26B;")">
                <span class="fw-bold">@Index</span>
            </div>
            <div class="mx-4">
                <p class="fw-bold m-0 p-0">Set</p>
                <p class="m-0 p-0" style="color: #777E90;">@SetView?.Notes</p>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="mx-4">
            <p class="fw-bold m-0 p-0">Target</p>
            <p class="m-0 p-0" style="color: #777E90;">@SetView?.TargetReps</p>
        </div>
    </div>
    <div class="col-auto">
        <div class="mx-4">
            <p class="fw-bold m-0 p-0">Completed</p>
            @if (Active)
            {
                <InputNumber @bind-Value="_model.CompletedReps" placeholder="0" style="max-width: 2.5em;"/>
            }
            else
            {
                <p class="m-0 p-0" style="color: #777E90;">@SetView?.CompletedReps</p>
            }
        </div>
    </div>
    <div class="col-auto mx-2 mt-1">
        @if (Active)
        {
            <button class="btn btn-primary mx-2" type="submit" style="float: right;background-color: #23262F;border-color: #777e90;border-radius: 20px;border-width: 2px;">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" style="color: #777e90;vertical-align: inherit;">
                        <path d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"></path>
                    </svg>
                </span>&nbsp;Edit
            </button>
        }
    </div>
</EditForm>


@code {

    [Parameter]
    public SetView? SetView { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public bool Active { get; set; }
    
    [Parameter]
    public string WorkoutName { get; set; }

    [Parameter] 
    public EventHandler OnUpdated { get; set; }

    public event EventHandler? Updated;

    private UpdateSetViewModel _model = new();

    protected override void OnInitialized()
    {
        Updated += OnUpdated;
    }

    private async Task OnValidSubmit(EditContext obj)
    {
        var userName = (await TokenProvider.GetAuthenticationStateAsync()).GetUserName();
        var request = new UpdateSetRequest("", _model.CompletedReps, Index - 1, WorkoutName, userName);
        var response = await Client.UpdateSetAsync(request);

        if (response.IsSuccessStatusCode)
        {
            SetView.CompletedReps = _model.CompletedReps;
            Updated?.Invoke(this, new());
            StateHasChanged();
        }
    }

}