@using V9.UI.Portal.Services.Workout.Views
<div class="col pb-3">
    <div class="d-flex mx-3">
        <div class="my-auto p-2 bg-dark" style="border-radius: 7px;background-color: #45B26B;">
            <span class="fw-bold">@Index</span>
        </div>
    </div>
</div>
<div class="col">
    <div class="mx-4">
        <p class="fw-bold m-0 p-0">Target</p>
        <p class="m-0 p-0" style="color: #777E90;">@SetView?.TargetReps</p>
    </div>
</div>


@code {
    [Parameter]
    public SetView? SetView { get; set; }
    
    [Parameter]
    public int Index { get; set; }
}
