<div>
  <header id="header" class="header">
    <div id="header_toggle-1" class="header_toggle">
      <i class="fa fa-star bx bx-menu" id="header-toggle" style="color: #3763f4;"></i>
    </div>
    <div class="header_img">
      <img src="img/hczKIze.jpg">
    </div>
  </header>
  <div id="nav-bar" class="l-navbar" style="background-color: #3763f4;">
    <nav class="nav">
      <div>
        <a id="header_toggle-2" class="nav_logo header_toggle" href="#">
          <i class="fa fa-star bx bx-layer nav_logo-icon"></i>
          <span class="nav_logo-name">Sidemenu</span>
        </a>
        <div class="nav_list">
          <a class="nav_link active" href="#">
            <i class="fa fa-star bx bx-grid-alt nav_icon"></i>
            <span class="nav_name">Main Menu</span>
          </a>
          <a class="nav_link" href="#">
            <i class="fa fa-star bx bx-user nav_icon"></i>
            <span class="nav_name">Users</span>
          </a>
          <a class="nav_link" href="#">
            <i class="fa fa-star bx bx-message-square-detail nav_icon"></i>
            <span class="nav_name">Chat</span>
          </a>
          <a class="nav_link" href="#">
            <i class="fa fa-star bx bx-bookmark nav_icon"></i>
            <span class="nav_name">Bookmark</span>
          </a>
          <a class="nav_link" href="#">
            <i class="fa fa-star bx bx-folder nav_icon"></i>
            <span class="nav_name">Folders</span>
          </a>
          <a class="nav_link" href="#">
            <i class="fa fa-star bx bx-bar-chart-alt nav_icon"></i>
            <span class="nav_name">Stats</span>
          </a>
        </div>
        <a class="nav_link signout" href="#">
          <i class="fa fa-star bx bx-log-out nav_icon"></i>
          <span class="nav_name">Signout</span>
        </a>
      </div>
    </nav>
  </div>
</div>
