::deep .profile-card {
    border-radius: 20px;
    background-color: #23262F;
    border: 1px solid #353945;
}

::deep .color-purple {
    background-color: #9757D7;
}

::deep .bg-card {
    background-color: #23262F;
}