@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<NavigationBar/>
<DetailedNavigationPanel/>

<main> @Body </main>

@* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
<Footer/>

