@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<NavigationBar/>
<div class="position-relative">
    
<DetailedNavigationPanel/>
<main> @Body </main>
</div>


@* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
<Footer/>

